workflows/ACM WORKSHOP WORKFLOW.json
{
  "name": "ACM WORKSHOP WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant with access to a contact database stored in Google Sheets.\n\nWhen users ask for contact information (phone numbers, emails, etc.), use the Contact Database tool to retrieve all contacts, then search through the results to find the person they are asking about.\n\nThe database contains columns for Name, Phone, and Email. When searching:\n1. Call the Contact Database tool to get all contacts\n2. Look through the results for the person's name (case-insensitive partial match)\n3. Return the specific information requested (phone, email, etc.)\n4. If not found after checking all results, politely inform the user\n\nWhen a user asks to create a calendar event with a person:\n\n1. Extract the person's name, event title, date, and time.\n2. Search the Contact database tool using the person's name.\n3. If a matching contact is found, retrieve their email address.\n4. Create the calendar event using the retrieved email as an attendee.\n5. If no email is found, ask the user to confirm or provide the email before creating the event.\n\n\nBe thorough in searching through the contact list before saying someone is not found."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "41b403b0-7e36-405f-931e-27a3995b0e8f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -16
      ],
      "id": "d5d3afbc-ad37-40fc-adc2-b600996d7dca",
      "name": "Telegram Trigger",
      "webhookId": "889cac56-25d4-4ac3-974c-38b7a264499f",
      "credentials": {
        "telegramApi": {
          "id": "SDxQsCX4fptqwV7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "1c7995e5-4126-4e59-9369-8e47551032a5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gi136BmeGcWaGOvz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "51e221e8-bf87-4217-9a96-01867b448a1a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "7cb21f14-1287-45ce-8884-5a9b6492de3e",
      "name": "Send a text message",
      "webhookId": "6c535a77-aae8-4b64-9f41-15f5502f3831",
      "credentials": {
        "telegramApi": {
          "id": "SDxQsCX4fptqwV7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "dacaac89-4e54-4bc9-854f-a39feb10e7e2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36c6ea5a-a83a-4f65-8ee6-8e2b16df1015",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -512,
        -16
      ],
      "id": "c0f94830-1ac7-4302-aa56-d423b28710da",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        -160
      ],
      "id": "e6d6c78a-f992-46c5-b75d-e0992dca1d3e",
      "name": "Get a file",
      "webhookId": "2f35ca58-8709-4047-896f-b367abc66826",
      "credentials": {
        "telegramApi": {
          "id": "SDxQsCX4fptqwV7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -128,
        -160
      ],
      "id": "b3d509ca-356a-4b03-a4f9-64554ef7a3a3",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "gi136BmeGcWaGOvz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YM1hdHr8UetgXxcH",
          "mode": "list",
          "cachedResultUrl": "/workflow/YM1hdHr8UetgXxcH",
          "cachedResultName": "My workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        544,
        208
      ],
      "id": "67df2b19-beb1-4cb1-b0db-004ebc3a75ab",
      "name": "CALENDAR AGENT"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FunAnnrun5Rny4dYs5t94raGFFY9IIuyEWb1ESEojnA",
          "mode": "list",
          "cachedResultName": "Contact database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FunAnnrun5Rny4dYs5t94raGFFY9IIuyEWb1ESEojnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FunAnnrun5Rny4dYs5t94raGFFY9IIuyEWb1ESEojnA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        192
      ],
      "id": "0f45427a-4287-43f6-9a58-cfb68f80b760",
      "name": "CONTACT DATABASE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kB8wAYo1tHTZiKhT",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8ff4204-d6bf-4e35-9ba5-8d00cd09d151",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -160
      ],
      "id": "421b875c-c3e0-4012-9e32-335d33c3961e",
      "name": "EDIT INPUT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b25cc9f6-d183-4479-ac75-438e3e5029d8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        16
      ],
      "id": "58facaf9-c0a5-41d3-b0f6-04c13004f139",
      "name": "EDIT INPUT1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "EDIT INPUT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "EDIT INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALENDAR AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CONTACT DATABASE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EDIT INPUT": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDIT INPUT1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c05f0b97-efe7-4016-9697-ade5c9eb5e72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d832ae8eefb9f33fa7825a6c12f4d063b507032bc9096c59f6928dbd2e0b0173"
  },
  "id": "3ZiaaATQnDtlXdiV",
  "tags": []
}